In [1]:
#!/usr/bin/env python
from __future__ import absolute_import, division, print_function
import numpy as np
import pandas as pd
import tensorflow
import keras
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Dense, Conv2D, Flatten
import tensorflow as tf
from sklearn.preprocessing import normalize
import seaborn
import matplotlib.pyplot as plt

Using TensorFlow backend.

In [2]:
data=pd.read_excel('/home/ai11/default of credit card clients.xls')
data.dropna(inplace=True)

print(data.shape)

(30001, 24)

In [3]:
data.drop_duplicates(inplace=True)

In [4]:
print(data.shape)

(29966, 24)

In [13]:
X=data.drop(columns='Y')

X.head(5)

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X14,X15,X16,X17,X18,X19,X20,X21,X22,X23
ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
1,20000,2,2,1,24,2,2,-1,-1,-2,...,689,0,0,0,0,689,0,0,0,0
2,120000,2,2,2,26,-1,2,0,0,0,...,2682,3272,3455,3261,0,1000,1000,1000,0,2000
3,90000,2,2,2,34,0,0,0,0,0,...,13559,14331,14948,15549,1518,1500,1000,1000,1000,5000
4,50000,2,2,1,37,0,0,0,0,0,...,49291,28314,28959,29547,2000,2019,1200,1100,1069,1000

In [ ]:
type(X)
X.drop(axis=1,index=['ID'],inplace=True)
X.head()

In [ ]:
#normalise
X=normalize(X, norm='l2', axis=1, copy=True, return_norm=False)
print(X[:6])

In [ ]:
X_plot=pd.DataFrame(X)
seaborn.pairplot(X_plot,vars=["X15", "X16"])
plt.show()

In [ ]:
y=data['Y']
y.drop(axis=1,index=['ID'],inplace=True)
print(y.head(5))

In [ ]:
X_plot=pd.DataFrame(X)
seaborn.pairplot(X_plot)
plt.show()

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
#reshapes
X_train=X_train.as_matrix()
X_test=X_test.as_matrix()
print(type(X_test))
#X_train = X_train.reshape(X_train.shape[0],X_train.shape[1],1,1)
#X_test = X_test.reshape(X_test.shape[0],X_test.shape[1],1,1)

In [ ]:
#create model
model = Sequential()

#add model layers
model.add(Dense(32, activation='softmax',input_shape=(23,)))
#model.add(Dense(64, activation='softmax'))
#model.add(Dense(128, activation='softmax'))
#model.add(Flatten())
model.add(Dense(32, activation='softmax'))
model.add(Dense(1, activation='softmax'))

In [ ]:
#compile model using accuracy to measure model performance
model.compile(loss='mean_squared_error', optimizer='sgd', metrics=['accuracy'])
model.summary()

In [ ]:
#train the model
model.fit(X_train, y_train, validation_data=(X_test, y_test), epochs=500,verbose=True)